# APP_USER - Optional for local development/testing — bypass headers and log in this user
# APP_USER_FIELD - The Shibboleth header used to uniquely identify the user (e.g. SHIB_UID, SHIB_EPPN)
# APP_USER_COLUMN - The user model column to use for authentication (e.g. uid, unity_id, username)
APP_USER=dfsterli
APP_USER_FIELD=SHIB_UID
APP_USER_COLUMN=unity_id
